.btn {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
}

.btn-danger {
    color: #fff;
    background-color: #C70039;
}