<!DOCTYPE html>
<html>
  <head>
    <title>Simple HttpServer Example</title>
  </head>
  <body>
    <p>Random Number: {0}</p>
    <p>New string</p>
    <form method="post" action="testPostGet">
      <input type="submit" value="POST Index">
    </form>

    <form method="get" action="testPostGet">
      <input type="submit" value="GET Index">
    </form>

    <form method="patch" action="testPatch">
      <input type="submit" value="PATCH Index">
    </form>

    <form method="put" action="testPatch">
      <input type="submit" value="PUT Index">
    </form>

    <form method="delete" action="index">
      <input type="submit" value="DELETE Index">
    </form>

    <form method="post" action="shutdown">
      <input type="submit" value="PostShutdown" {1}>
    </form>

    <form method="get" action="shutdown">
      <input type="submit" value="GetShutdown">
    </form>

    <form method="get" action="shutdown">
      <input type="submit" value="GetShutdown">
    </form>
  </body>
</html>