<!DOCTYPE html>
<html>
    <head>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>

    <body>
        {% if session['message_present'] %}
            <p class="{{ session['message_type'] }}">{{ session['message'] }}</p>
            {{ showMessage() }}
        {% endif %}

        <h1>Login</h1>

        <form action="/login" method="POST">
            <p>Username: <input type="text" name="username"/></p>
            <p>Password: <input type="password" name="password"/></p>
            <p><input type="submit" value="submit"/></p>
        </form>
    </body>
</html>