<!--
    https://www.youtube.com/watch?v=S-uYRHtXxgk&list=PL4cUxeGkcC9gsJS5QgFT2IvWIX78dV3_v&index=11
-->

<!DOCTYPE html>
<html lang="en" ng-app="myApp"> <!-- is an angular app -->
    <head>
        <title>Angular Playlist</title>
        <link href="content/css/styles.css" rel="stylesheet" type="text/css" />

        <script src="app/lib/angular.min.js"></script>
        <script src="app/app.js"></script>
    </head>
    <body ng-init="names=['yoshi','crystal','ryu'];numbers=[1,2,3,4];meats=['pork','ham','beef'];color='orange'">
        <!-- two way data binding -->
            <!-- live update for variables -->
        <input type="text" ng-model="favMeat" placeholder="enter your fav meat"/>
        <!-- binds input to variable favMeat-->
        <p>Your fav meat is {{ favMeat }}</p> <!-- expression to access via {{ varName }} -->
        <p class="{{ color }}">{{ numbers[0] * 5 }}, {{ meats[0] }}</p>

        <element></element>

        <div ng-controller="AppController">
            <input type="text" ng-model="search"/>
            <p>{{ message }}</p> <!-- from controller -->
            <ul>
                <!--
                    <li>{{ ninjas[0] }}</li>
                    <li>{{ ninjas[1] }}</li>
                    <li>{{ ninjas[2] }}</li>
                -->
                <li ng-repeat="person in people | orderBy: 'age' | filter: search">
                    {{ person.name }} - {{ person.height | currency: "lbs"}}
                    <!-- 
                        https://docs.angularjs.org/api/ng/filter
                        | currency: '$' (output everything as dollars)
                    -->
                </li>
                <!-- put orderBy: '-age' to reverse order-->
            </ul>
        </div>
    </body>
</html>

<!-- directives -->
<!-- direct angular js to do something -->
<!--
    https://docs.angularjs.org/api/ng/directive
    ng-app
    ng-model
    ng-init      initialize data on load

    create new directive to create new html element
-->