<!DOCTYPE html>
<html>
    <head>
        <title>Flight {{ flight['id'] }}</title>
    </head>

    <body>
        {% for key in flight.keys() %}
            {% if key == 'date' %}
                {{ formatDate(flight['date']) }}
            {% elif not(key == 'seats') %}
                <p>{{ key }} - {{ flight[key] }}</p>
            {% endif %}
        {% endfor %}

        <table>
            <thead>
                <tr>
                    <th></th>
                    {% for i in range(1, seats|length + 1) %}
                        <th>{{ i }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range(seats[0]|length - 1, -1, -1) %}
                    <tr>
                        <th>{{ getAlphabet()[i] }}</th>

                        {% for row in seats %}
                            <td>
                                {{ log(row[i]) }}
                                {{ 0 if row[i]|int == 0 else 1 }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>