<!DOCTYPE html>
<html>
    <head>
        <title>All Flights</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>Flight No.</th>
                    <th>Date and Time</th>
                    <th>Plane</th>
                    <th>Route</th>
                    <th>Destination</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                    <tr>
                        <td><a href="/flight/{{ flight['id'] }}">{{ flight['id'] }}</a></td>
                        <td>{{ formatDate(flight['date']) }}</td>
                        <td>{{ flight['plane'] }}</td>
                        <td>{{ flight['origin'] }}-{{ flight['destination'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>