@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    font-family: 'Roboto Mono', monospace;
}

body, section {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}